<div class="actions-menu-container h-75 col-2 p-2">
    <h5>Actions</h5>

    <h6>Zoom Controls</h6>
    <button class="w-100 mb-2" (click)="zoomIn()">Zoom (+)</button>
    <button class="w-100 mb-2" (click)="zoomOut()">Zoom (-)</button>
    <button class="w-100 mb-2" (click)="resetZoom()">Reset zoom</button>

    <h6>Pan Controls</h6>
    <button class="w-100 mb-2" (click)="panLeft()">Pan (←)</button>
    <button class="w-100 mb-2" (click)="panRight()">Pan (→)</button>
    <button class="w-100 mb-2" (click)="center()">Center</button>
</div>